.search-container {
    width: 1024px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* search-header css */
.search-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-header-left {
    float: left;
    padding-left: 10px;
}

.search-header-center {
    float: left;
    text-align: center;
}

.style-placeholder::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    text-align: center;
}
.style-placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-align: center;
}
.style-placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-align: center;
}
.style-placeholder:-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-align: center;
}

.input-search {
    height: 30px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #bcbcbc;
}

.btn-search {
    background-color: #ffffff;
    padding: 0;
    border: none;
}

.select-search {
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    height: 30px;
}

.search-header-right {
    text-align: center;
    float: left;
    padding-right: 10px;
}

.search-header-right-navi {
    padding-left: 10px;
    padding-right: 10px;
}

.navi-badge {
    vertical-align: 10px;
}

/* search-body css */
.search-body {
    border-top: 1px solid #f4f4f4;
    background-color: #fcfcfe;
}

/* search-body-left css */
.search-body-left {
    float: left;
    border-right: 1px solid #f4f4f4;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
    height: 100%;
}

.search-senpai {
    margin-bottom: 20px;
}

.search-text-box {
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-senpai-text {
    color: #1fb4e3;
}

.search-senpai-link {
    float: left;
}

.search-senpai-link img {
    vertical-align: 5px;
}

.search-senpai-number {
    float: right;
}

.data-statistic {
    margin-bottom: 20px;
}

.data-statistic-text-box {
    padding-left: 5px;
    padding-bottom: 10px;
}

.data-statistic-thank-border {
    border-left: 3px solid #feda53;
}

.data-statistic-thank {
    color: #feda53; 
}

.data-statistic-link {
    float: left;
}

.data-statistic-number {
    float: right;
}

.btn-edit {
    background-color: #ffffff;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    padding: 5px 10px;
}

.data-statistic-visits-border {
    border-left: 3px solid #20a7dd;
}

.data-statistic-visits {
    color: #20a7dd; 
}

.data-statistic-matching-border {
    border-left: 3px solid #4aaa68;
}

.data-statistic-matching {
    color: #4aaa68; 
}

.data-statistic-like-border {
    border-left: 3px solid #ed372d;
}

.data-statistic-like {
    color: #ed372d; 
}

.data-statistic-view-border {
    border-left: 3px solid #c7bdbb;
}

.data-statistic-view {
    color: #c7bdbb; 
}

.data-statistic-profile-border {
    border-left: 3px solid #77777f;
}

.data-statistic-profile {
    color: #77777f;
}

.profile-complete-percent {
    text-align: center;
}
/* search-body-content css */
.search-body-center {
    float: left;
    padding-right: 18px;
    padding-left: 18px;
}

.view-type {
    margin: 5px 5px 15px 5px;
}

.select-filter {
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    height: 30px;
}

.view-objects-list {
    background-color: #fcfcfe;
}

.view-object {
    background-color: #ffffff;
    width: 190px;
    margin: 3px;
    float: left;
    border-radius: 15px;
    border: 1px solid #f4f4f4;
}

.view-object-cover {
    position: relative;
    overflow: auto;
    /*border-radius: 25px 25px 0 0;*/
}

.view-object-cover-image img {
    width: 100%;
}

.view-object-cover-text {
    color: #ffffff;
    position: absolute;
    bottom: 5px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.view-object-name {
    float: left;
}

.view-object-ob {
    float: right;
}

.view-object-body {
    padding-left: 10px;
    border-bottom: 1px solid #f4f4f4;
}

.view-object-university {
    line-height: 1.2;
    padding-top: 10px;
    padding-bottom: 5px;
}

.view-object-company {
    line-height: 1.2;
    padding-top: 5px;
    padding-bottom: 10px;
}

.view-object-footer {
}

.view-object-footer-text {
    width: 100%;
    padding: 10px;
}

.view-object-likebt {
    float: left;
}

.view-object-likeicon {
    float: right;
}

/* search-body-right css */
.search-body-right {
    float: left;
    border-left: 1px solid #f4f4f4;
    padding-left: 10px;
    padding-right: 10px;
}

.open-cafe {
    background-image: url("../images/side_opencafebanner_base.png");
    height: 298px;
    text-align: center;
}

.open-cafe-title {
    padding-top: 20px;
}

.open-cafe-info {
}

.open-cafe-master-avatar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.open-cafe-master-name {
}

.open-cafe-status {
    display: inline-block;
    color: #ffffff;
    background-color: #353535;
    border-radius: 25px;
    margin-top: 25px;
    padding: 2px 10px;
}

.read-more {
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: right;
}

.adverts {
    padding-bottom: 30px;
}

.joining-event {
    padding-bottom: 30px;
}

.joining-event-title {
    padding-bottom: 10px;
}

.joining-event-info {
    background-color: #e3f5fb;
    border-radius: 10px;
    padding: 10px;
}

.joining-event-time {
    float: left;
}

.joining-event-link {
    float: right;
}

.footer-link {
    padding: 3px 0;
}

.copy-right {
    padding-top: 20px;
}
/* share css */
.overflow-auto {
    overflow: auto;
}

.sidebar-width {
    width: 200px;
}

.center-width {
    width: 624px;
}

.font-size10 {
    font-size: 10px;
}

.font-size11 {
    font-size: 11px;
}

.font-size12 {
    font-size: 12px;
}

.font-size15 {
    font-size: 15px;
}

.font-size20 {
    font-size: 20px;
}

.font-size27 {
    font-size: 27px;
}

.color-grey {
    color: #bcbcbc;
}

.color-light-black {
    color: #6c6c76;
}

.line-height1_1 {
    line-height: 1.1;
}

.line-height1_5 {
    line-height: 1.5;
}

.decorate-none {
    text-decoration: none;
}

.font-weight-bold {
    font-weight: bold;
}

.clear-both {
    clear: both;
}

.btn-initial {
    display: inline-block;
}

.select-initial {
    display: inline-block;
}
